.App {
  font-family: "Noto Sans HK", sans-serif;
  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
  margin-top: 25px;
  padding: 20px 30px;
  border-radius: 10px;
  border: 0;
  height: 100%;
  width: 100%;
}
.App strong {
  line-height: 20px;
  padding-top: 15px;
  border: 0;
  font-size: small;
  color: white;
  font-family: "Source Code Pro", monospace;
}
.open-source-link {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: small;
}
