.App .main {
  font-family: "Noto Sans HK", sans-serif;
  background: black;
  margin-top: 25px;
  padding: 0px 15px 20px;
  border-radius: 10px;
  border: 0;
  height: 100%;
  width: 100%;
}
.App .open-source-link {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: small;
}
