.App {
  background-color: rgba(0, 0, 0, 0.02);
  padding-top: 25px;
  padding-bottom: 105px;
}
.App .main {
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  margin: 25px auto 10px;
  max-width: 750px;
  background-color: white;
}
.App .open-source-link {
  font-size: small;
  margin: auto;
  max-width: 750px;
}
