.App .main {
  font-family: sans-serif, "Noto Sans HK";
  background-color: rgb(3, 0, 29);
  background-color: rgb(33, 1, 51);
  background: black;
  padding: 0px 15px 20px;
  border-radius: 10px;
  border: 0;
  margin: 25px auto 10px;
  max-width: 750px;
}
.App .open-source-link {
  padding-bottom: 15px;
  font-size: small;
  margin: auto;
  max-width: 750px;
}
