.Search .row.search {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  margin: 0 0 10px;
  max-width: 750px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Search .location {
  width: 100%;
  text-align: center;
  padding-top: 7px;
}

.Search .strong {
  line-height: 20px;
  padding-top: 5px;
  font-size: small;
  color: white;
  font-family: "Source Code Pro", monospace;
}
.Search .form-inline {
  padding-top: 15px;
  padding-bottom: 5px;
}
.Search .form-control {
  background: rgba(255, 255, 255, 0.1);
  border: 0.1px solid white;
  color: rgba(0, 0, 0, 0.5);
}

.Search .form-control::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.Search .btn.btn-primary.mb-2 {
  border: 0.1px solid white;
  background: rgba(255, 255, 255, 0.1);
  transition: all 150ms ease-in-out;
  color: rgba(0, 0, 0, 0.3);
}
.Search .btn.btn-primary.mb-2:hover {
  background-color: rgb(78, 190, 236);
  color: rgba(0, 0, 0, 0.7);
}
