.Search .row.search {
  background-color: rgba(255, 255, 255, 0.1);
}

.Search .strong {
  line-height: 20px;
  padding-top: 20px;
  border: 0;
  font-size: small;
  color: #fe019a;
  font-family: "Source Code Pro", monospace;
}
.Search .form-inline {
  padding-top: 15px;
  padding-bottom: 5px;
}
.Search .form-control {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px #fe019a;
}
.Search .btn.btn-primary.mb-2 {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
  transition: all 150ms ease-in-out;
}
.Search .btn.btn-primary.mb-2:hover {
  background: #fe019a;
}
.Search .btn.btn-link {
  color: white;
  text-align: left;
  margin: auto 5px;
  text-decoration: underline;
}
.Search .location {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
.Search .searchedCity {
  color: white;
  font-size: 13px;
}
.Search .searchedCity span {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 4px 3px 5px #fe019a;
}
.Search .weather {
  margin: 50px auto;
}
.Search .icon {
  font-size: 170px;
  text-align: right;
  line-height: 60px;
  padding-top: 30px;
  color: white;
}
.Search .temperature {
  font-size: 70px;
  color: white;
  line-height: 60px;
  padding-top: 10px;
  display: inline;
}
.Search .temperature.celsius,
.Search .temperature.fahrenheit,
.Search .temperature.dash {
  font-size: 16px;
  position: relative;
  top: -36px;
}
.Search .temperature.celsius:hover,
.Search .temperature.fahrenheit:hover {
  color: #fe019a;
  cursor: pointer;
  text-decoration: underline;
}
.Search .sky,
.Search .humidityWind {
  line-height: 20px;
  text-align: left;
  margin-left: 5px;
  color: white;
  font-size: 13px;
}
.Search .sky {
  font-size: 17px;
}
.Search .sky::first-letter {
  text-transform: capitalize;
}
