.Search {
  font-family: "Noto Sans HK", sans-serif;
}
.Search .row.search {
  background-color: rgba(255, 255, 255, 0.1);
}

.Search .strong {
  line-height: 20px;
  padding-top: 20px;
  border: 0;
  font-size: small;
  color: #fe019a;
  font-family: "Source Code Pro", monospace;
}
.Search .form-inline {
  padding-top: 15px;
  padding-bottom: 5px;
}
.Search .form-control {
  background: rgba(255, 255, 255, 0.1);
}
.Search .btn.btn-primary.mb-2 {
  border: 1px solid;
  background: rgba(255, 255, 255, 0.1);
  transition: all 150ms ease-in-out;
}
.Search .btn.btn-primary.mb-2:hover {
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}
.Search .btn.btn-link {
  color: white;
  text-align: left;
  margin: auto 5px;
  text-decoration: underline;
}
.Search .location {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
.Search i.fa-map-marker-alt {
  font-size: 50px;
  display: block;
  color: white;
  text-align: center;
  margin-top: 7px;
}
.Search .searchedCity {
  color: white;
  font-size: 13px;
}
.Search .searchedCity span {
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
}
