.WeatherInfo .searchedCity {
  color: white;
  font-size: 13px;
}
.WeatherInfo .searchedCity span {
  font-size: 45px;
  text-transform: capitalize;
  font-weight: bold;
}
.WeatherInfo .weather {
  margin: 50px auto 20px;
  padding-bottom: 15px;
}
.WeatherInfo .icon {
  font-size: 150px;
  text-align: right;
  line-height: 60px;
  color: white;
}
.WeatherInfo .details {
  line-height: 60px;
  padding: 0;
  text-align: left;
  margin-left: 5px;
}
.WeatherInfo .sky,
.WeatherInfo .humidityWind {
  line-height: 20px;
  text-align: left;
  margin-left: 5px;
  color: white;
  font-size: 13px;
}
.WeatherInfo .sky {
  font-size: 17px;
}
.WeatherInfo .sky::first-letter {
  text-transform: capitalize;
}
