.WeatherInfo .searchedCity {
  color: white;
  font-size: 13px;
}
.WeatherInfo .searchedCity span {
  font-size: 45px;
  text-transform: capitalize;
  font-weight: bold;
}
.WeatherInfo .weather {
  margin: 50px auto 20px;
  padding-bottom: 15px;
}
.WeatherInfo .icon {
  font-size: 150px;
  text-align: right;
  line-height: 60px;
  color: white;
}
.WeatherInfo .details {
  line-height: 60px;
  padding: 0;
  text-align: left;
  margin-left: 5px;
}
.WeatherInfo .WeatherTemperature {
  font-size: 70px;
  color: white;
  line-height: 60px;
  padding-top: 10px;
  display: inline;
}
.WeatherInfo .WeatherTemperature .celsius,
.WeatherInfo .WeatherTemperature .fahrenheit,
.WeatherInfo .WeatherTemperature .dash {
  font-size: 16px;
  position: relative;
  top: -36px;
}
.WeatherInfo .WeatherTemperature .celsius:hover,
.WeatherInfo .WeatherTemperature .fahrenheit:hover {
  color: #fe019a;
  cursor: pointer;
  text-decoration: underline;
}

.WeatherInfo .sky,
.WeatherInfo .humidityWind {
  line-height: 20px;
  text-align: left;
  margin-left: 5px;
  color: white;
  font-size: 13px;
}
.WeatherInfo .sky {
  font-size: 17px;
}
.WeatherInfo .sky::first-letter {
  text-transform: capitalize;
}

.bottomContainer {
  background-color: rgba(255, 255, 255);
}
