.WeatherCardsForecast .card.weekDay {
  border: 0;
  margin: 5px -10px;
  color: black;
  text-align: center;
  line-height: 50px;
  transition: all 200ms ease-in-out;
}
.WeatherCardsForecast .cardTemperature {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.WeatherCardsForecast .maximumTemperature {
  color: black;
}
.WeatherCardsForecast .cardIcon {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
}
